html {
	margin: 0;
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	background: #33AA88;
}
body >div {
	padding: 10px;
}

.card {
	position: relative;
	display: inline-block;
	border: 2px solid black;
	border-radius: 5px;
	background: white;
	width: 70px; height: 98px;
	font-size: 36px;
	line-height: 36px;
	font-family: monospace;
}
.card::before {
	content: attr(data-face);
	position: absolute;
	top: 0px; left: 0px;
	display: inline-block;
	width: 48px;
	text-align: center;
}


.CardTableau {
	display: inline-block;
	vertical-align: top;
}
.CardTableau .card {
	display: block;
	margin-bottom: -55px;
	box-shadow: -2px -2px 4px rgba(0,0,0,0.7);
}


.card::after {
	position: absolute;
	top: 3px; right: 5px;
	display: inline-block;
	width: 24px; height: 28px;
	background: url(suits36.png) no-repeat;
	content: '';
}

.suitSpade::after {
	background-position: 0px 0px;
}
.suitHeart::after {
	/* background-position: -25px -58px; */
	background-position: -25px -116px;
}
.suitClub::after {
	background-position: -50px -0px;
}
.suitDiamond::after {
	background-position: -75px -116px;
}

.suitHeart,.suitDiamond {
	color: #AA0000;
}


.card.facedDown {
	background: #3366AA;
	background: url(back1.jpg);
	background-position: -14px -19px;
	background-size: 100px auto;
}
.card.facedDown::before {
	content: '';
}
.card.facedDown::after {
	background: none;
}

